
{% block body %}
<div class="">
    {% if err %}
    <div class="alert alert-danger">
        {{err}}
    </div>
    {% endif %}
    <h2>Đăng nhập</h2>
    <form method="post" action="{{ url_for('admin_login') }}">
        <div class="form-group">
            <label >Username</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-danger">
        </div>
        <h4>Chưa có tài khoản? <a href="/register"> Đăng ký tại đây</a></h4>
    </form>
</div>
{% endblock %}