<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="text-center text-success">ĐĂNG NHẬP</h1>
        {% if err_msg %}
        <div class="alert alert-danger">
            {{ err_msg }}
        </div>
        {% endif %}
        <form method="post" action=""
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       name="username"
                       id="username"
                       class="form-control" />
            </div>
            <div class="form-group">
                <label for="name">Mật khẩu</label>
                <input type="password"
                       name="password"
                       id="password"
                       class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Đăng nhập"
                       class="btn btn-danger" />
            </div>
        </form>
    </div>
</body>
</html>