{% extends 'base/base.html' %}

{% block header %}
<title>Thanh toán giỏ hàng</title>
{% endblock %}

{% block content %}
<a href="/products" class="text-left"><< Danh mục sách</a>
    <h1 class="text-center text-danger">Thanh toán giỏ hàng</h1>
    <div class="container">
        <div class="alert alert-warning">
            <h3>Số lượng sản phẩm: <span id="total_quantity">{{total_quan}}</span> </h3>
            <h3>Tổng tiền giỏ hàng: <span id="total_amount">{{total_amount}}</span> </h3>
        </div>
        <table class="table">
            <tr>
            <th>Tên sách</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th></th>
        </tr>
        {% if 'cart' in session and session['cart'] %}
        {% for p in session['cart'].values() %}
        <tr id="item{{p.id}}">
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>
                <div class="form-group">
<!--                    lay tu cart-->
                    <input class="form-control"
                           type="number"
                           onchange="updateItem(this, {{p.id}})"
                           value="{{ p.quantity }}" >
                </div>
            </td>
            <td><a href="javascript:;" onclick="del_item({{p.id}})">Xóa</a></td>
        </tr>
        {% endfor %}
        {% else %}
            <td colspan="4">Không có sản phẩm nào trong giỏ</td>
        {% endif %}
        </table>
        <input type="button" onclick="pay()"
               value="Thanh toán" class="btn btn-danger ">
        <div id="paypal-payment-button">
            <script src="https://www.paypal.com/sdk/js?client-id=ARGD3E75_kqRX4Kj6ki2IW_rG3HWwC2schSqifJIsKWY_6uWRNIGMaMGECkoHSENMu0AywtjOGY_afoh&disable-funding=credit,card"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    </div>
{% endblock %}