{% extends 'base/base.html' %}

{% block header %}
<h1>Sách khoa học</h1>
<title>Sách khoa học</title>

{% endblock %}


{% block content %}
    <section class="cars">
    {% for p in books %}
        {% if p.category_id == 3 and p.active == 1 %}
        <div class="car">
            <img src={{url_for('static', filename=p.image)}} alt="p.name"/>
            <div>
                <h3>{{p.name | to_uppercase}}</h3>
                <p>{{p.price}}</p>
                <p>
                     <a href="/products/{{p.id}}">
                    <input type="button" value="Xem chi tiết" class="btn btn-primary"/>
                    </a>
                    <input type="button" value="Đặt hàng" class="btn btn-danger" />
                </p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </section>

{% endblock%}