{% extends 'base/base.html' %}

{% block header %}
<h1>Danh mục sách <span id="cart-stats" class="badge badge-primary">0</span></h1>
{% endblock %}

{% block content %}
    <h1>Văn học</h1>
<section class="cars">
    {% for p in books %}
        {% if p.category_id == 1%}
        <div class="car">
            <img src={{url_for('static', filename=p.image)}} alt="p.name" style="width: 216px; height: 310px;" />
            <div>
                <h3>{{p.name | to_uppercase}}</h3>
                <p>{{p.price}}</p>
                <p>
                    <input type="button" value="Xem chi tiết" class="btn btn-warning"/>
                    <input type="button" onclick="addToCart({{ p.id }}, '{{ p.name }}', {{ p.price }})"
                           value="dat hang"/>
                </p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </section>
<h1>Kinh tế</h1>
<section class="cars">
    {% for p in books %}
        {% if p.category_id == 2 %}
        <div class="car">
            <img src={{url_for('static', filename=p.image)}} alt="p.name" style="width: 216px; height: 310px;" />
            <div>
                <h3>{{p.name | to_uppercase}}</h3>
                <p>{{p.price}}</p>
                <p>
                    <input type="button" value="Xem chi tiết" class="btn btn-warning"/>
                    <input type="button" onclick=" addToCart({{ p.id }}, '{{ p.name }}', {{ p.price }})"
                           value="dat hang"
                           class="btn btn-warning">
                </p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </section>
{% endblock %}