{% extends 'base/base.html' %}

{% block header %}
<h1>Danh mục sách </h1>
<!--<a href="{{ url_for('payment') }}" id="cart-stats" class="badge badge-primary" >0</a>-->
{% endblock %}

{% block content %}
    <h1>Văn học</h1>
<section class="cars">
    {% for p in books %}
        {% if p.category_id == 1%}
        <div class="car">
            <img src={{url_for('static', filename=p.image)}} alt="p.name" style="width: 216px; height: 310px;" />
            <div>
                <h3>{{p.name | to_uppercase}}</h3>
                <p>{{p.price}}</p>
                <p>
                    <input type="button" value="Xem chi tiết" class="btn btn-primary"/>
                    <input type="button" onclick="addToCart({{ p.id }}, '{{ p.name }}', {{ p.price }})"
                           value="Đặt hàng" class="btn btn-danger"/>
                </p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </section>
<h1>Kinh tế</h1>
<section class="cars">
    {% for p in books %}
        {% if p.category_id == 2 %}
        <div class="car">
            <img src={{url_for('static', filename=p.image)}} alt="p.name" style="width: 216px; height: 310px;" />
            <div>
                <h3>{{p.name | to_uppercase}}</h3>
                <p>{{p.price}}</p>
                <p>
                    <input type="button" value="Xem chi tiết" class="btn btn-primary"/>
                    <input type="button" onclick=" addToCart({{ p.id }}, '{{ p.name }}', {{ p.price }})"
                           value="Đặt hàng" class="btn btn-danger">
                </p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </section>
{% endblock %}