*{
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-color: lightgray;
}

/* tro toi nhung h1 cua header*/
header >h1{
    text-align: center;
    color:  gray;
    font-size:56px;
    /*text-shadow: 3px 4px lightblue;*/ /*nhoe chu*/
    /*animation: doimau 1s infinite;*/
}

@keyframes doimau{
    from{
        color: darkblue;
    }
    to{
        color:darkgreen
    }
}

/*css body*/
div.car{
   width:25%;
   background-color: gray;
   text-align: center;
   padding:10px;
   border-radius:10px; /*bocong*/
   margin:1%;
}
div.car >img{
    width:100%

}
div.car > img:hover{
    transform: scale(1.1)
}
/*hien thi ngang*/
section.cars{
   display:flex;
}
/*css nav*/
nav{
    background-color: lightblue;
}
nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
}
nav  ul> li >a{
    display: block;
    padding: 15px 20px; /*tren duoi - trai phai*/
    text-decoration:none;
}
nav  ul > li > a:hover {
    background-color: brown;
    color: white;
    text-decoration:underline;
}
/*css footer*/
footer{
    background-color: lightgray;
    color:black;
    padding:5px
}
footer h1, footer p{
    text-align: center;
}
.col25{
    width: 25%;
}
.col50{
    width: 50%;
}
div.contact{
    display:flex
}
footer ul{
    list-style-type:none
}
table.msg{
    width:100%
}
input[type=text]{
    width: 90%;
    padding:10px
}
textarea{
    width:95.5%;
    padding:10px;
    height:50px;
}
input[type=submit]
{
    background-color:orange;
    color: white;
    padding: 10px;
    border: 1px solid orange
}
/* css submenu*/
.subcontent{
    display:none;
    position:absolute;
    background-color: lightblue;
    width:150px;
}
.submenu:hover .subcontent{
    display:block;
}