 <h1>Contact</h1>
        <hr style="width:3%" />
        <p>About us</p>
        <div class="contact">
            <div class="col25">
                <h3 >About Us</h3>
                <ul>
                    <li> <i class="fa fa-map-marker"></i>&nbsp;Address: 01 Vo Van Ngan</li>
                    <li><i class="fa fa-phone "></i>&nbsp;Phone: 123456</li>
                    <li><i class="fa fa-envelope"></i>&nbsp;Email:<a href="mailto:contact@gmail.com">contact@gmail.com</a></li>
                </ul>
            </div>
        </div>