  <nav>
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li class="submenu">
                <a href="/products">Danh mục sách</a>
                <ul class="subcontent">
                    <li><a href="/product-literature"> Văn học</a></li>
                    <li><a href="/product-economic"> Kinh tế</a></li>
                    <li><a href="/product-science">Khoa học</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
<!--              <form>-->
<!--                <div class="form-group">-->
<!--                    <input placeholder="Nhập từ khóa tìm kiếm..."-->
<!--                           name="kw"-->
<!--                           class="form-control" />-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="submit"-->
<!--                           class="btn btn-danger"-->
<!--                           value="Tìm kiếm" />-->
<!--                </div>-->
<!--            </form>-->
            <li><a href="/pay" ><img src="/static/images/cart-icon.jpg" style="height:50px; width:50px" class="text-right" /></a> </li>
            <li> <a href="{{ url_for('payment') }}" id="cart-stats" class="badge badge-primary" >0</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('logout') }}">Đăng xuất</a></li>
            {% else %}
            <li><a href="{{ url_for('admin_login') }}">Đăng nhập</a></li>
            <li> <a href="{{ url_for('register') }}">Đăng ký</a></li>
            {% endif %}
        </ul>
    </nav>