  <nav>
        <ul>
            <li><a href="#">Trang chủ</a></li>
            <li class="submenu">
                <a href="/products">Danh mục sách</a>
                <ul class="subcontent">
                    <li><a href="/product-literature">Văn học</a></li>
                    <li><a href="/product-economic">Kinh tế</a></li>
                    <li><a href="#">Khoa học</a></li>
                </ul>
            </li>
            <li><a href="/admin/aboutusview/">Contact</a></li>
        </ul>
    </nav>